*{
    margin: 0px ;
    padding: 0px;
    box-sizing: border-box;
}

.h2-color{
    color: #eaca1c;
}


.navbar{
    background-color: #eaca1c;
}
.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 4rem;
    padding-left: var(--bs-navbar-nav-link-padding-x);
    padding-top: 20px;
    font-weight: 700;
}
.display-2{
    font-weight: bolder;
}
.btn{
    border-radius: 0%;
    background-color: #eaca1c;
}

/*..................................... section-2  */

.mid-benar{
    /* border: 3px solid black; */
    background-color: #e5e5e5;
    box-shadow: #000000 15px -15px 100px -40px;
    
}
.no-btn{
    border: 0px;
    background-color:#e5e5e5 ;
    font-weight: 500;
}
/* ...............................................section-3  */
.s-3-bg{
    background-color: #000000;
    margin-top: -265px;
}
.s-3-text{
    margin-top: 250px;
    padding-right: 160px;
}
@media (max-width:767px){
    .s-3-text{
        margin-top: 250px;
        padding-right: 0px;
    }
}

/*.................................................... section-4  */

.s-4-bg{
    background-color: #eaca1c;
}
.btn-dark{
    background-color: #000000;
}
.from{
    background-color: #000000;
    padding-bottom: 10rem !important;
    color: #e5e5e5 !important;
}
.type{
    width: 100%;
    background-color: #000000;
    border-color:  #e5e5e5;
    color: #e5e5e5;
}
.message{
    background-color: #000000;
    color: #e5e5e5;
    
}

